<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
    <listeners>
<!--        <listener class-name="xray.listeners.XrayListener"/>-->
        <listener class-name="xray.listeners.XrayJsonReporter"/>
    </listeners>
    <test name="Report">
        <classes>
            <class name="xray.dummytests.AppTest" />
            <class name="xray.dummytests.SubAppTest" />
        </classes>
    </test>
</suite>